@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KCCMurukmuruk';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCMurukmuruk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'KCCMurukmuruk'
}

img {
  -webkit-user-drag: none;
}

input:checked~.dot {
  transform: translateX(100%);
  background-color: rgb(59 130 246);
}