.ballon {
  position: relative;
}

.ballon:after {
  border-top: 10px solid #FFF;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -15px;
}

.shape {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shape svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 56px;
}